.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    background-color: rgb(209, 211, 201);
}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    border: 1px solid #a9a9a9;
    border-right: none;
    padding: 8px 10px;
    gap: 12px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}
.sidebar-option.active{
    background-color: #fff0ed;
    border-color: tomato;
}
.sidebar-option:hover{
    background-color: rgb(245, 180, 186);
}

@media (max-width:900px){
    .sidebar-option p{
        display: none;
    }
}
