.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
    
}

.header-contents{
    animation: fadeIn 3s;
    position: absolute;
    max-width: 50%;
    left: 6vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    bottom: 10%;
}
.header-contents h2{
    font-size: max(4.5vw,22px);
    font-weight: 500;
    color: #fff;
}
.header-contents p{
    font-size: 1vw;
    color: #fff;
}
.header-contents button{
    padding: 1vw 2.3vw;
    border: none;
    border-radius: 50px;
    background: #fff;
    cursor: pointer;
    transition: 0.3 ;  
}

@media(max-width:1050px) {
    
    .header-contents{
        max-width: 45%;
    }
}
/* @media(max-width:1050px) {
    .header{
        height:35vw;
    }
    .header-contents{
        max-width: 45%;
    }
} */
@media(max-width:750px) {
   
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}
   

